*, ::before, ::after
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/*
=================
VARIABLE
=================
*/
:root {
--clr--primaryColor : #fff ;
/* scroll-snap-type:y mandatory; */
}
h1{
font-size: 1.8em;
color: var(--clr--primaryColor);
}
h2 {
font-size: 1.5em;
color: var(--clr--primaryColor);
}
h3 {
font-size: 1.3em;
color: var(--clr--primaryColor);
}
p {
color: var(--clr--primaryColor);
}
a {
color: var(--clr--primaryColor);
}



/*
=================
PAGE D'ACCUEIL
=================
*/
body {
display: flex;
flex-direction: column;
background-color: rgb(20, 20, 20);
width: 100%;
height: auto;
}
header {
position: relative;
display: flex;
flex-direction: column;
height: 100vh;
}
header::before {
content: "";
background: url(./img/pageAccueil3.jpg) center; 
position: absolute;
opacity: 0.4;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1; 
}

.name {
position: relative;
left: 50px;
font-size: 1.2em;
overflow: hidden;
text-transform: capitalize;
}
.name span {
display: inline-block;
overflow: hidden;
line-height: 2;
}
.name span:first-child {
position: relative;
padding-right: 10px;
text-indent: 100%;  
}
.name span:first-child::after {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
width: 5px;
border-radius: 2em 0 2em 0;
background: linear-gradient(to bottom, rgba(0,255,224,1) 5%, rgba(68,171,157,1) 41%, rgba(88,134,128,1) 55%, rgba(87,105,103,1) 72%, rgba(72,74,74,1) 98%);
}
.name span:last-child {
text-indent: -100%;
}

.firstPage {
display: flex;
flex-direction: column;
justify-content: space-between; 
align-items: flex-start; 
height: 100%; /* Assure que la section occupe la hauteur complète */
}
.leftCorner {
position: relative;
float: left;
left: 30px;
top: 10px;
padding: 30px;
z-index: 10;
}
.leftCorner::before {
content: '';
position: absolute;
border-radius: 2em 0 2em 0;
/* background: linear-gradient(to right, rgba(0,0,0,0.9558441558441558) 0%, rgba(20,20,19,1) 17%, rgba(32,32,30,1) 25%, rgba(106,67,69,1) 37%, rgba(139,81,85,1) 47%, rgba(139,29,40,1) 90%, rgba(134,14,27,0.9636363636363636) 98%); */
background: linear-gradient(to right, rgba(0,255,224,1) 5%, rgba(68,171,157,1) 41%, rgba(88,134,128,1) 55%, rgba(87,105,103,1) 72%, rgba(72,74,74,1) 98%);
top: 0;
left: 0;
height: 7px;
width: 110px; /* Divise la bordure supérieure en deux parties */
    /* Épaisseur de la bordure */
}
.leftCorner:hover::before {
  background: linear-gradient(to right, rgba(72,74,74,1) 5%, rgba(118,175,168,1) 52%, rgba(33,255,229,1) 100%, rgba(0,255,224,1) 100%, rgba(38,218,196,0.01) 100%);
}

.leftCorner::after {
content: '';
position: absolute;
/* background: linear-gradient(to bottom, rgba(0,0,0,0.9558441558441558) 0%, rgba(20,20,19,1) 17%, rgba(32,32,30,1) 25%, rgba(106,67,69,1) 37%, rgba(139,81,85,1) 47%, rgba(139,29,40,1) 90%, rgba(134,14,27,0.9636363636363636) 98%); */
background: linear-gradient(to bottom, rgba(0,255,224,1) 5%, rgba(68,171,157,1) 41%, rgba(88,134,128,1) 55%, rgba(87,105,103,1) 72%, rgba(72,74,74,1) 98%);
border-radius: 2em 0 2em 0;
top: 0;
left: 0;
height: 110px;
width: 7px;
}
.leftCorner:hover::after {
  background: linear-gradient(to bottom,rgba(72,74,74,1) 5%, rgba(118,175,168,1) 52%, rgba(33,255,229,1) 100%, rgba(0,255,224,1) 100%, rgba(38,218,196,0.01) 100%);
}
.presentation {
position: relative;
margin: auto 40px;
top: 50px;
animation: presentationAnime 3s linear 1;
}
.presentation p {
color: var(--clr--primaryColor);
text-align: center;
padding: 10px;
font-size: 1.2em;
}
.presentation p::after {
content: '';
position: absolute;
/* background: linear-gradient(to bottom, rgba(0,0,0,0.9558441558441558) 0%, rgba(20,20,19,1) 17%, rgba(32,32,30,1) 25%, rgba(106,67,69,1) 37%, rgba(139,81,85,1) 47%, rgba(139,29,40,1) 90%, rgba(134,14,27,0.9636363636363636) 98%); */
background: linear-gradient(to bottom, rgba(0,255,224,1) 5%, rgba(68,171,157,1) 41%, rgba(88,134,128,1) 55%, rgba(87,105,103,1) 72%, rgba(72,74,74,1) 98%);
bottom: 0px;
left: 0;
height: 100%;
width: 1%;
}
.project {color: var(--clr--primaryColor);}
.nameProject {
color: var(--clr--primaryColor);
}
.rightCorner {
display: flex;
margin-left: auto;
animation: fromLeft 2s linear;
}
.rightCorner h2 {
align-self: center;
font-size: 1.8em;
}
.projectContainer {
position: relative;
display: flex;
flex-direction: column;
list-style: none;
margin: 20px;
padding: 20px;
text-transform: capitalize;
}
.projectContainer::before {
content: '';
position: absolute;
border-radius: 2em 0 2em 0;
/* background: linear-gradient(to right, rgba(0,0,0,0.9558441558441558) 0%, rgba(20,20,19,1) 17%, rgba(32,32,30,1) 25%, rgba(106,67,69,1) 37%, rgba(139,81,85,1) 47%, rgba(139,29,40,1) 90%, rgba(134,14,27,0.9636363636363636) 98%); */
background: linear-gradient(to right, rgba(0,255,224,1) 5%, rgba(68,171,157,1) 41%, rgba(88,134,128,1) 55%, rgba(87,105,103,1) 72%, rgba(72,74,74,1) 98%);
bottom: 0;
right: 0;
height: 7px;
width: 110px; /* Divise la bordure supérieure en deux parties */
/* Épaisseur de la bordure */
}
.projectContainer::after {
content: '';
position: absolute;
/* background: linear-gradient(to bottom, rgba(0,0,0,0.9558441558441558) 0%, rgba(20,20,19,1) 17%, rgba(32,32,30,1) 25%, rgba(106,67,69,1) 37%, rgba(139,81,85,1) 47%, rgba(139,29,40,1) 90%, rgba(134,14,27,0.9636363636363636) 98%); */
background: linear-gradient(to bottom, rgba(0,255,224,1) 5%, rgba(68,171,157,1) 41%, rgba(88,134,128,1) 55%, rgba(87,105,103,1) 72%, rgba(72,74,74,1) 98%);
border-radius: 2em 0 2em 0;
bottom: 0;
right: 0;
height: 110px;
width: 7px;
}
.projectContainer:hover::before {
  background: linear-gradient(to right, rgba(72,74,74,1) 5%, rgba(118,175,168,1) 52%, rgba(33,255,229,1) 100%, rgba(0,255,224,1) 100%, rgba(38,218,196,0.01) 100%);
}
.projectContainer:hover::after {
  background: linear-gradient(to bottom, rgba(72,74,74,1) 5%, rgba(118,175,168,1) 52%, rgba(33,255,229,1) 100%, rgba(0,255,224,1) 100%, rgba(38,218,196,0.01) 100%);
}
.projectContainer a{
margin: 10px;
line-height: 1.2em;
}
.projectName {
text-decoration: none;
position: relative;
text-decoration: none; 
display: inline-block; 
color: #fff;
}

.teaStation::after {
content: '';
position: absolute;
left: 0;
bottom: -3px;
width: 72%;
height: 2px; 
background: linear-gradient(to right,  rgba(0,255,224,1) 5%, rgba(68,171,157,1) 41%, rgba(88,134,128,1) 55%, rgba(87,105,103,1) 72%, rgba(72,74,74,1) 98%);
}
.ankama::after {
content: '';
position: absolute;
left: 0;
bottom: -3px;
width: 50%;
height: 2px; 
background: linear-gradient(to right,  rgba(0,255,224,1) 5%, rgba(68,171,157,1) 41%, rgba(88,134,128,1) 55%, rgba(87,105,103,1) 72%, rgba(72,74,74,1) 98%);
}
.portfolio::after {
content: '';
position: absolute;
left: 0;
bottom: -3px;
width: 90%;
height: 2px; 
background: linear-gradient(to right,  rgba(0,255,224,1) 5%, rgba(68,171,157,1) 41%, rgba(88,134,128,1) 55%, rgba(87,105,103,1) 72%, rgba(72,74,74,1) 98%);
}
.pendu::after {
content: '';
position: absolute;
left: 0;
bottom: -3px;
width: 100%;
height: 2px; 
background: linear-gradient(to right, rgba(0,255,224,1) 5%, rgba(68,171,157,1) 41%, rgba(88,134,128,1) 55%, rgba(87,105,103,1) 72%, rgba(72,74,74,1) 98%);
}
.morpion::after {
content: '';
position: absolute;
left: 0;
bottom: -3px;
width: 62%;
height: 2px; 
background: linear-gradient(to right,  rgba(0,255,224,1) 5%, rgba(68,171,157,1) 41%, rgba(88,134,128,1) 55%, rgba(87,105,103,1) 72%, rgba(72,74,74,1) 98%);
}
.justePrix::after {
content: '';
position: absolute;
left: 0;
bottom: -3px;
width: 87%;
height: 2px; 
background: linear-gradient(to right,  rgba(0,255,224,1) 5%, rgba(68,171,157,1) 41%, rgba(88,134,128,1) 55%, rgba(87,105,103,1) 72%, rgba(72,74,74,1) 98%);
}
.teaStation:hover::after, 
.ankama:hover::after, 
.portfolio:hover::after, 
.pendu:hover::after, 
.morpion:hover::after, 
.justePrix:hover::after {
  background: linear-gradient(to right, rgba(72,74,74,1) 5%, rgba(118,175,168,1) 52%, rgba(33,255,229,1) 100%, rgba(0,255,224,1) 100%, rgba(38,218,196,0.01) 100%);
}

@keyframes fromLeft {
  0%{
      transform: translateX(-1000px);
      opacity: 0;
  }
  50%{
      transform: translateX(200px);
      opacity: 0.5;
  }
  75%{
      transform: translateX(-50px);
      opacity: 0.75;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes presentationAnime {
  0%{
      opacity: 0;
      transform: scale(1.2);
  }
  50%{
      opacity: 0.5;
      transform: scale(1.5);
  }
  100%{
      opacity: 1;
      transform: scale(1);
  }
}





/* Skill */
.skill {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 40px;
}
.skill h2 {
margin-bottom: 30px;
}
.imgSkill {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 30px;
background-color: white;
height: 120px;
padding-top: 10px;
}
.skill img {
height: 100px;
}
.skill img:last-child {
margin-right: 20px;
}




/* Project Page */

.projectPage {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 100px;

}
.projectContent {
display: flex;
flex-direction: column;
align-items: center;
}

.projectContent h3 {
letter-spacing: 0.1em;
margin-bottom: 30px;
}
.projectContent p {
text-align: center;
}
.imageProject {
height: 250px;
width: 250px;
margin: 10px;
border: 1px solid #00FFE0;
border-radius: 50%;
}
.imageProject:hover {
transform: scale(1.2);
}
.projectDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2em;
  border: 1px solid #00FFE0;
  border-radius: 0.5em;
  padding: 25px;
  margin: 30px 30px;
  outline: 0.125rem solid #00FFE0;
  outline-offset: 0.25rem;
  height: 100px; /* Ajoutez la hauteur souhaitée */ 
  width: 250px;
}


/* Footer  */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00FFE0;
  gap: 20px;
  margin-top: 40px;
}

.github {
  color: black;
  margin-top: 30px;
  text-align: center;
  font-size: 1.2em;
}

.githubLink {
  display: flex;
  gap: 70px; 
  margin: 20px;
}

.githubLink a{ 
  border: 1px solid black;
  border-radius: 0.5em;
  outline: 0.125rem solid black;
  outline-offset: 0.25rem;
  height: 100px;
  width: 120px;
  padding: 20px;
  text-align: center;
  color: black;
}

.link a {
  letter-spacing: 0.2em;
  color: black;
  line-height: 1.2em;
}

.link:last-child {
  margin-bottom: 50px;
}

.info {
  margin: 20px 20px;
  font-size: 1.2em;
  text-align: center;
  color: black;
}
.sliderContainer {
  position: relative;
  width: auto;
  height: auto;
  margin: auto 100px;
}
.sliderContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider-container .items {
  width: 100%;
  height: 100%;
}
.sliderContainer .items:not(:first-child) {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  margin: 5px;
  font-size: 2em;
  color: black;
}
.next {
  right: 0;
}
.prev:hover, .next:hover {
  color: #00FFE0;
  background-color: black;
}

@media screen and (min-width:600px) {
  
  .leftCorner {
    
    left: -30px;
    
    }
  .leftCorner {
    margin-left: 60px;
  }
  .projectContainer {
    margin-right: 30px;
  }
  .presentation  {
    align-self: center;
  }
  .projectContent {
    width: 300px;
    height: 500px;
  }
  .presentation p {
    font-size: 1.3em;
  }
    a {
      font-size: 1.2em;
    color: var(--clr--primaryColor);
    }
    .link {
      height: 150px;
      width: 170px;
    }
    .githubLink a{ 
      padding: 15px 
    };
}

@media screen and (min-width:932px) {
  .presentation p {
    margin-left: 10px;
  }
}

@media screen and (min-width:1020px) {
  .projectContent {
    width: 400px;
    height: 500px;
  }
  .projectDescription {
    margin: 30px 30%;
  }
  header::before {
    content: "";
    background: url(./img/pageAccueil3resize.jpg) center;
  }
}